importFrom("graphics", plot)

import(methods)
import(Matrix)
import(lattice)

exportPattern("^[^\\.]")

exportClass(
checksol,
fluxDistribution,
modelorg_irrev,
modelorg,
optObj_clpAPI,
optObj_cplexAPI,
optObj_glpkAPI,
optObj_lpSolveAPI,
optObj,
optsol_blockedReact,
optsol_fluxdel,
optsol_fluxVar,
optsol_genedel,
optsol_optimizeProb,
optsol_robAna,
optsol,
pointerToProb,
ppProc,
reactId,
sybilError,
sybilLog
)

